@import database.dbtable.ContactData
@import database.dbtable.ContactService
@(resObj: List[(ContactData, ContactService)])(implicit request: play.api.mvc.RequestHeader, flash: play.api.mvc.Flash, messages: Messages)

@admin("List") {
    <table class="table">
        <thead>
            <tr>
                <th>Service</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Message</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for((item, service) <- resObj) {
                <tr>
                    <td>@service.serviceName</td>
                    <td>@item.contactName</td>
                    <td>@item.contactEmail</td>
                    <td>@item.contactPhone.getOrElse("-")</td>
                    <td>@item.contactMessage.getOrElse("-")</td>
                    <td>
                        <a href="#" class="delete-item" data-toggle="modal" data-target="#confirmDelete" data-id="@item.contactId">
                            <i class="fa fa-times"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="modal" id="confirmDelete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $document.on("click", ".delete-item", function(){
            var id = $(this).data("id");

        })
    </script>
}
